<?xml version="1.0"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
      <exclude>
          <directory>./src/*vendor</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="unittests">
      <directory prefix="Test" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="true"/>
    <ini name="display_startup_errors" value="true"/>
  </php>
</phpunit>
